<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>列表页</title>
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/list.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="warpper">
    <div class="nav">
        <ul class="main clearfix">
            <li class="text_center"><a href="#" class="color_ff f16 font_wei current">首页</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">部门简介</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">审计公告</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">新闻动态</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">政策法规</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">资料下载</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">警钟长鸣</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">在线学习</a></li>
            <li class="text_center bg_none"><a href="#" class="color_ff f16 font_wei">网上举报</a></li>
        </ul>
    </div>
    <div class="main">
        <!--时间+搜索-->
        <div class="clearfix pt10 pb10">
          <span class="fl color_145">所在位置：<a href="" class="color_145">首页</a> > <a href="" class="color_145">新闻动态</a> > <a href="" class="color_145">行业新闻</a></span>
          <span class="fl color_99 ml50"><img src="images/calender_icon.png" class="mr5" /> 2016年7月1号 星期五</span>
          <div class="fr search_div">
            <input type="text" name="kw" id="kw" placeholder="请输入查找内容" />
            <a href="javascript:"><img src="images/search_btn.png" /></a>
          </div>
        </div>
        <!--主要内容-->
        <div class="clearfix content mt5">
            <div class="left fl">
                <!--新闻动态-->
                <div class="txt_news radius_shadow">
                   <p class="clearfix h26 border_1c32">
                      <span class="txt_title fl f18 color_145">新闻动态</span>
                   </p>
                   <div class="pt10 pb12">
                       <ul class="second_list">
                          <li class="over_hi"><a href="#" class="font_wei current">行业新闻</a></li>
                          <li class="over_hi mt10"><a href="#" class="font_wei">学院新闻</a></li>
                       </ul>
                   </div>
                </div>
                <!--热门关注，最多显示10条-->
                <div class="txt_news radius_shadow mt15">
                   <p class="clearfix h26 border_1c32">
                      <span class="txt_title fl f18 color_145">热门关注</span>
                      <img src="images/hot_icon.jpg" class="fr" />
                   </p>
                   <div class="pt10 pb12">
                       <ul class="news_list">
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                          <li class="over_hi"><a href="#" class="color_66">快点发教科书地方艰苦</a></li>
                       </ul>
                   </div>
                </div>
            </div>
            <div class="right fr">
                <!--新闻动态-->
                <div class="txt_news radius_shadow">
                   <p class="clearfix h26 border_1c32">
                      <span class="txt_title fl f18 color_145">行业新闻</span>
                   </p>
                   <div class="pt10 pb12">
                       <ul class="one_list">
                          <li class="over_hi">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                          <li class="over_hi mt15">
                              <p class="title clearfix">
                                  <a href="#" class="fl font_b f14">我馆积极推进档案库房更新改造工作</a>
                                  <span class="fr color_99">2016-01-01</span>
                              </p>
                              <p class="intro">2016年7月1日，人民日报推出“庆祝建党95周年特刊”，梳理党的十八大以来政治生态、政风民风、会风文风、监督执纪等方面一系列变化。</p>
                          </li>
                       </ul>
                   </div>
                   <div class="page fr mt20">
                      <span class="pagetotal color_145">123条</span>
                      <a href="" class="prev color_145">上一页</a>
                      <a href="" class="pagenum current">1</a>
                      <a href="" class="pagenum">2</a>
                      <a href="" class="pagenum">3</a>
                      <a href="" class="pagenum">4</a>
                      <a href="" class="pagenum">5</a>
                      <a href="" class="pagenum">6</a>
                      <a href="" class="pagenum">7</a>
                      <a href="" class="pagenum">8</a>
                      <a href="" class="pagenum">9</a>
                      <a href="" class="pagenum">10</a>
                      <span class="pagemore">...</span>
                      <a href="" class="pagenum">13</a>
                      <a href="" class="next color_145">下一页</a>
                   </div>
                   <div class="clear"></div>
                </div>
                <!--右边结束-->
            </div>
            
        </div>
    </div>
    <div class="foot mt30 position_re">
                   <p class="color_ff mt20 text_center">Copyright &copy; 2012-2016</p>
                   <p class="color_ff mt10 text_center">地址：四川省成都市郫县红光镇港通北三路1899号  &nbsp;&nbsp;邮编：611731  &nbsp;&nbsp;电话：028-61835010</p>
        </div>
</div>
</body>
</html>
