<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言页</title>
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/message.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="warpper">
    <div class="nav">
        <ul class="main clearfix">
            <li class="text_center"><a href="#" class="color_ff f16 font_wei current">首页</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">部门简介</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">审计公告</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">新闻动态</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">政策法规</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">资料下载</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">警钟长鸣</a></li>
            <li class="text_center"><a href="#" class="color_ff f16 font_wei">在线学习</a></li>
            <li class="text_center bg_none"><a href="#" class="color_ff f16 font_wei">网上举报</a></li>
        </ul>
    </div>
    <div class="main">
        <!--时间+搜索-->
        <div class="clearfix pt10 pb10">
          <span class="fl color_145">所在位置：<a href="" class="color_145">首页</a> > <a href="" class="color_145">廉政留言</a></span>
          <span class="fl color_99 ml50"><img src="images/calender_icon.png" class="mr5" /> 2016年7月1号 星期五</span>
          <div class="fr search_div">
            <input type="text" name="kw" id="kw" placeholder="请输入查找内容" />
            <a href="javascript:"><img src="images/search_btn.png" /></a>
          </div>
        </div>
        <!--主要内容-->
        <div class="clearfix content mt5">
            <div class="left fl">
                <!--新闻动态-->
                <div class="txt_news radius_shadow">
                   <p class="clearfix h26 border_1c32">
                      <span class="txt_title fl f18 color_145">留言须知</span>
                   </p>
                   <p class="mt10 text_2em color_66">请遵守中华人民共和国有关法律、法规、尊重网上道德，注意文明用语，承担一切因您的行为而直接或间接引起的法律责任；</p>
                   <p class="text_2em color_66">反映违纪违法问题请直接进入本网站首页专门开设的“网上举报”进行举报和投诉；</p>
                   <p class="text_2em color_66">成都市技师学院廉政网依据有关规定对您的留言进行管理。</p>
                </div>
            </div>
            <div class="right fr">
                <!--廉政留言-->
                <div class="txt_news radius_shadow">
                   <p class="clearfix h26 border_1c32">
                      <span class="txt_title fl f18 color_145">廉政留言</span>
                   </p>
                   <div class="pb12">
                       <ul class="one_list">
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                          <li class="over_hi mt20">
                              <p class="title clearfix">
                                  <span class="font_b f14">留言人：mfsn</span>
                              </p>
                              <p class="intro mt5"><span class="font_b">留言</span>：高水平的网页！~~法律检索系统很实用~~赞一个！</p>
                              <p class="intro">留言时间：2011-03-29 17:52:30</p>
                              <p class="reply"><span class="font_b">纪委办公室</span> 回复：谢谢您的评价和关注</p>
                          </li>
                       </ul>
                   </div>
                   <div class="page fr mt20">
                      <span class="pagetotal color_145">123条</span>
                      <a href="" class="prev color_145">上一页</a>
                      <a href="" class="pagenum current">1</a>
                      <a href="" class="pagenum">2</a>
                      <a href="" class="pagenum">3</a>
                      <a href="" class="pagenum">4</a>
                      <a href="" class="pagenum">5</a>
                      <a href="" class="pagenum">6</a>
                      <a href="" class="pagenum">7</a>
                      <a href="" class="pagenum">8</a>
                      <a href="" class="pagenum">9</a>
                      <a href="" class="pagenum">10</a>
                      <span class="pagemore">...</span>
                      <a href="" class="pagenum">13</a>
                      <a href="" class="next color_145">下一页</a>
                   </div>
                   <div class="clear"></div>
                </div>
                <!--添加留言-->
                <div class="txt_news radius_shadow mt15">
                   <p class="clearfix h26 border_1c32">
                      <span class="txt_title fl f18 color_145">添加留言</span>
                   </p>
                   <form action="" method="post">
                   <div class="mt10 pb12 clearfix">
                      <div class="fl">
                        <span class="msg_input f14 color_99">姓名：<input type="text" name="name" id="name" /></span>
                        <span class="msg_input f14 color_99">邮箱：<input type="text" name="email" id="email" /></span>
                        <span class="msg_input f14 color_99">QQ：<input type="text" name="qq" id="qq" /></span>
                        <span class="msg_input f14 color_99">联系电话：<input type="text" name="phone" id="phone" /></span>
                        <span class="msg_input f14 color_99">联系地址：<input type="text" name="address" id="address" /></span>
                      </div>
                      <div class="fr">
                        <span class="msg_textarea  f14 color_99">留言内容：(限50字以内)<textarea name="message" id="message"></textarea></span>
                      </div>
                   </div>
                   <p class="text_right mt20">
                      <input type="reset" value="重置" class="reset_btn" />
                      <input type="submit" value="保存" class="sub_btn" />
                   </p>
                   </form>
                </div>
                <!--右边结束-->
            </div>
            
        </div>
    </div>
    <div class="foot mt30 position_re">
                   <p class="color_ff mt20 text_center">Copyright &copy; 2012-2016</p>
                   <p class="color_ff mt10 text_center">地址：四川省成都市郫县红光镇港通北三路1899号  &nbsp;&nbsp;邮编：611731  &nbsp;&nbsp;电话：028-61835010</p>
        </div>
</div>
</body>
</html>
